.my_empty {
    margin-top: 200px;
    .empty_image {
        width: 200px;
        height: 200px;
        background-image: url(../../images/empty.png);
        background-size: 100% 100%;
        margin: 0 auto 10px;
    }
    .empty_text {
        text-align: center;
        color: #EC5664;
        font-size: 30px;
    }
}