// <div className="live-list">
//     <div className="live-list-one">
//         <i className="one-cover"></i>
//         <p className="one-title">
//             记第一条生活碎片
//         </p>
//         <p className="one-info">
//             愿生活中经历的所有云翳，能够造就你一个美丽的黄昏。
//         </p>
//     </div>
// </div>
.live-list {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 400px);
    margin: 0 20px;
    .live-list-one {
        cursor: pointer;
        padding: 20px 0;
        border-bottom: 1px solid #b8b8b8;
        &::after {
            content: "";
            display: block;
            clear: both;
        }
        &:hover {
            background-color: #f5f5f5;
        }
        .one-cover {
            float: left;
            width: 100px;
            height: 100px;
            background-size: 100% 100%;
            margin: 0 15px 0 40px;
            &.cover-1 {
                background-image: url(./images/list-1.jpg);
            }
        }
        .one-title {
            color: black;
            font-weight: bold;
        }
        .one-info {
            color: #999;
            font-size: 12px;
            word-wrap: break-word;
        }
    }
}