// <div className="date-rank">
// <ul className="date-rank-list">
//     <li>
//         <i className="rank-1"></i>
//         宝宝破蛋日：2000.07.24
//         <span>
//             (阴历：06.23)
//         </span>
//     </li>
.date-rank {
    display: inline-block;
    vertical-align: top;
    width: 313px;
    border: 1px solid burlywood;
    border-radius: 16px;
    padding: 0 20px 20px;
    margin-right: 5px;
    font-family: "楷体";
    .date-rank-list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            border-bottom: 1px solid gainsboro;
            padding: 5px 0;
            &:last-of-type {
                border-bottom: 0;
            }
            .ranklogo {
                display: inline-block;
                width: 18px;
                height: 20px;
                margin-right: 8px;
                position: relative;
                top: 4px;
                background-image: url(./images/rank-medal-4.png);
                background-size: 100% 100%;
                &.rank-1 {
                    background-image: url(./images/rank-medal-1.png);
                }
                &.rank-2 {
                    background-image: url(./images/rank-medal-2.png);
                }
                &.rank-3 {
                    background-image: url(./images/rank-medal-3.png);
                }
            }
            p {
                margin: 0 0 0 5px;
                padding: 0;
                display: inline-block;
                font-size: 12px;
                color: #b8b8b8;
            }
        }
    }
}